{% extends "base.html" %}
{% load pages_tags mezzanine_tags %}

{% block main %}

    <h2>  {{ organization.name|truncatewords_html:50 }}</h2>

    {% if request.user.is_authenticated %}
 <a href="{%   url 'organization_edit' organization.pk %}">
                      Edit {{ organization.name }} </a>
    {%  endif %}
 <div>
 <table class="table">

     <tr>
         <td>Name:</td>
         <td> {{ organization.name|truncatewords_html:50 }}</td>
     </tr>
         <tr>
         <td>Organization Type:</td>
         <td> {{ organization.organizationType }}</td>
     </tr>
        <tr>
         <td>URL:</td>
         <td> {{ organization.url }}</td>
     </tr>
        <tr>
         <td>Name:</td>
         <td> {{ organization.name|truncatewords_html:50 }}</td>
     </tr>
     <tr>
         <td>Business Address</td>
         <td> {{ organization.businessAddress }}</td>
     </tr>
     <tr>
         <td>Business Telephone</td>
         <td> {{ organization.businessTelephone }} </td>
     </tr>
          <tr>
         <td>Parent Organization</td>
         <td>  {{ organization.parentOrganization }}</td>
     </tr>
          <tr>
         <td></td>
         <td> </td>
     </tr>
          <tr>
         <td>Description:</td>
         <td> {{ organization.notes }}</td>
     </tr>

       <tr>
     <td>Added</td>
     <td>{{ organization.createdDate }}</td>
 </tr>
   <tr>
     <td>Last Updated</td>
     <td>{{ organization.lastUpdate }}</td>
 </tr>


 </table>


{% endblock %}